@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Nova+Mono&display=swap");
body {
  font-family: "Montserrat Alternates", sans-serif;
  margin: 0;
}
@media all and (min-width: 1167px) {
  body {
    margin: 0 auto;
  }
}

.vmsw {
  /*&__alert {
    background: $page-blue-light;

    &__text {
      color: white;
      font-size: 9.2px;
      line-height: 11.1px;
      letter-spacing: 0.5px;
      padding: 10px 11px;
      margin: 0;

      @media all and (min-width: $medium-breakpoint) {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 1.2px;
        padding: 15px 10px;
      }

      @media all and (min-width: $xlarge-breakpoint) {
        font-size: 18px;
        line-height: 24px;
      }

      @media all and (min-width: $xxlarge-breakpoint) {
        font-size: 26px;
        line-height: 31.2px;
        letter-spacing: 2px;
        padding: 23px 10px 20px;
      }

      &--highlight {
        font-size: 12.7px;
        @media all and (min-width: $large-breakpoint) {
          font-size: 13px;
          line-height: 20px;
        }

        @media all and (min-width: $xlarge-breakpoint) {
          font-size: 26px;
          line-height: 32px;
        }

        @media all and (min-width: $xxlarge-breakpoint) {
          font-size: 33px;
          line-height: 40.8px;
        }
      }
    }

    &__link {
      // border-bottom: 1px solid rgba($text-white, 0.5);
      color: white;
      font-weight: bold;
      text-decoration-color: rgba($text-white, 0.5);
    }
  }

   */
  /*&__slider {

    &__slider-wrapper {
      height: 100%;
      width:100%;
      position: relative;

      &__image {
        max-width: 100%;
        width: 100%;
        height: 350px;
        max-height: 100%;
        background-position: top;
        background-size: cover;

        @media all and (min-width: $xlarge-2-breakpoint) {
          background-position: right top;
          background-size: cover;
          //height: 760px;
          height: 30vw;
        }

      }

      &__content-wrap {

        position: absolute;
        bottom: 0;
        width: 100%;
        //background: linear-gradient(to top, rgba(#2e4257, 0.9) 0%, rgba(transparent, 0) 100%);
        background: linear-gradient(to bottom, rgba($text-black, 0.9) 0%, rgba(transparent, 0) 100%);
        min-height: 100%;
        text-shadow: 0px 1px 1px $text-dark;

        &__content {

          &__content-inner-wrap {
            margin: 0 auto;
            text-align: center;
            word-break: break-word;
            padding: 15px;
            position: relative;

            #slider-2 & {
              bottom: 0;
              padding: 0 20px;
              @media all and (min-width: $large-breakpoint) {
                padding:  15px 18px 5px 50px;
              }
            }

            @media all and (min-width: $small-breakpoint) {
              padding: 15px 50px;
            }

            @media all and (min-width: $medium-breakpoint) {
              padding: 15px 100px;
              bottom: 35px;
            }

            @media all and (min-width: $xlarge-2-breakpoint) {
              padding: 23px 100px;
              padding-left: 65px;
              margin: 0;
              text-align: left;
              position: relative;
              bottom: unset;
            }

            &__headline {
              font-size: 32px;
              color: $text-white;
              padding: 0;
              font-weight: 200;
              margin: 20px 0 10px;
              line-height: 33.4px;
              letter-spacing: 0.3px;

              @media all and (min-width: $medium-breakpoint) {
                font-size: 42px;
                line-height: 45px;
                margin: 55px 0px 20px;
              }

              @media all and (min-width: $xlarge-2-breakpoint) {
                padding-left: 50px;
                font-size: 84px;
                line-height: 79px;
                margin: 55px 0px 25px;
              }
            }

            &__tagline-wrapper {
              //clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0% 100%);
             // background-color: rgba($page-yellow-darker, 0.6);
              //min-width: 210px;
              //max-width: 210px;
              margin: 0 auto;

             /* @media all and (min-width: $medium-breakpoint) {
                min-width: 325px;
                max-width: 500px;
              }

              @media all and (min-width: $xlarge-2-breakpoint) {
                min-width: 525px;
                max-width: 700px;
                margin:0;
              }



              &__tagline {
                font-size: 14px;
                line-height: 17.4px;
                font-weight: normal;
                color: $page-yellow-darker;
                margin: 0;
                padding: 5px 18px;
                font-style: italic;
                letter-spacing: 0.7px;

                @media all and (min-width: $medium-breakpoint) {
                  padding: 15px 18px;
                  font-size: 28px;
                  line-height: 35.6px;
                  display: inline-block;
                  letter-spacing: 1px;
                  font-weight: bold;
                }

                @media all and (min-width: $xlarge-2-breakpoint) {
                  font-size: 38px;
                  line-height: 45.6px;
                  padding-left: 60px;

                }
              }
            }
          }
        }


      }


    }
  }

   */
}
.vmsw__content-wrap {
  margin: auto;
  max-width: 1440px;
}
.vmsw__header {
  -webkit-box-shadow: 0 1px 10px 0px #BBBBBE;
  -moz-box-shadow: 0 1px 10px 0px #BBBBBE;
  box-shadow: 0 1px 10px 0px #BBBBBE;
}
.vmsw__header__wrap {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
}
@media all and (min-width: 1024px) {
  .vmsw__header__wrap {
    align-items: baseline;
  }
}
.vmsw__header__logo__wrapper {
  display: inline-block;
  text-align: left;
}
.vmsw__header__logo__img {
  width: 100%;
  height: 80px;
  background: url("../images/logos/vmsw-logo.png");
  overflow: hidden;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}
.vmsw__header__logo__img h1 {
  text-indent: -9999px;
}
.vmsw__header__logo__headline {
  font-size: 50px;
  line-height: 1;
  color: #000000;
  font-weight: 200;
  margin: 0;
  padding-left: 5px;
  letter-spacing: -7px;
}
@media all and (min-width: 320px) {
  .vmsw__header__logo__headline {
    font-size: 60px;
  }
}
@media all and (min-width: 600px) {
  .vmsw__header__logo__headline {
    font-size: 70px;
  }
}
@media all and (min-width: 1024px) {
  .vmsw__header__logo__headline {
    font-size: 84px;
  }
}
.vmsw__header__logo__headline--small {
  display: none;
}
@media all and (min-width: 1024px) {
  .vmsw__header__logo__headline--small {
    display: inline-block;
    font-size: 30px;
    letter-spacing: -1px;
    padding-left: 5px;
  }
}
.vmsw__header__index {
  display: inline-block;
}
.vmsw__header__index-list {
  text-align: right;
  padding-inline-start: 0;
}
.vmsw__header__index-item {
  display: block;
  list-style: none;
  padding: 0 5px 0 0px;
}
@media all and (min-width: 600px) {
  .vmsw__header__index-item {
    padding: 0 15px;
    display: inline-block;
  }
}
.vmsw__header__index-item:last-of-type {
  padding-right: 5px;
}
.vmsw__header__index-item a {
  text-decoration: none;
  color: #000000;
  border-bottom: 0px solid #F0A500;
}
.vmsw__header__index-item a:hover, .vmsw__header__index-item a:focus {
  border-bottom: 3px solid #F0A500;
  padding-bottom: 3px;
  transition: border-bottom 0.15s ease-in-out;
}
.vmsw__text--bold {
  font-weight: 500;
}
.vmsw__video__video-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
}
.vmsw__video__video-player {
  max-width: 100%;
  width: 100%;
  height: 350px;
  max-height: 100%;
  object-fit: cover;
}
@media all and (min-width: 1167px) {
  .vmsw__video__video-player {
    height: 40vw;
  }
}
.vmsw__video__content-wrap {
  position: absolute;
  bottom: 2px;
  width: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
  min-height: 100%;
  text-shadow: 0px 1px 1px #1B1A17;
}
.vmsw__video__content {
  height: 350px;
  min-height: 100%;
}
.vmsw__video__content-inner-wrap {
  margin: 0 auto;
  text-align: left;
  word-break: break-word;
  padding: 15px;
  position: relative;
  top: 20%;
}
@media all and (min-width: 1167px) {
  .vmsw__video__content-inner-wrap {
    padding-left: 30px;
    margin: 0;
    position: relative;
    max-width: 600px;
    top: 33%;
  }
}
.vmsw__video__headline {
  font-size: 32px;
  color: #ffffff;
  padding: 0;
  font-weight: 200;
  margin: 20px 0 10px;
  line-height: 33.4px;
  letter-spacing: 0.3px;
}
@media all and (min-width: 600px) {
  .vmsw__video__headline {
    font-size: 42px;
    line-height: 45px;
    margin: 55px 0px 20px;
  }
}
@media all and (min-width: 1167px) {
  .vmsw__video__headline {
    padding-left: 50px;
    font-size: 84px;
    line-height: 79px;
    margin: 55px 0px 25px;
  }
}
.vmsw__video__tagline {
  font-size: 35px;
  line-height: 1.5;
  font-weight: 200;
  color: #c88f1c;
  margin: 0;
  font-style: italic;
  letter-spacing: -2px;
}
@media all and (min-width: 600px) {
  .vmsw__video__tagline {
    font-size: 45px;
    font-weight: 400;
  }
}
@media all and (min-width: 1167px) {
  .vmsw__video__tagline {
    font-size: 64px;
  }
}
.vmsw__main-text {
  padding: 10px 30px;
  margin-bottom: 12px;
}
@media all and (min-width: 480px) {
  .vmsw__main-text {
    padding: 30px 50px;
  }
}
@media all and (min-width: 600px) {
  .vmsw__main-text {
    padding: 35px 100px;
  }
}
.vmsw__main-text__headline {
  font-size: 23px;
  line-height: 27.1px;
  margin: 10px 0 6px;
  letter-spacing: 0px;
  font-weight: 400;
  color: #1B1A17;
}
@media all and (min-width: 768px) {
  .vmsw__main-text__headline {
    font-size: 40px;
    line-height: 50px;
    margin: 10px 0;
    margin-bottom: 17px;
  }
}
@media all and (min-width: 1310px) {
  .vmsw__main-text__headline {
    font-size: 52px;
    line-height: 62.4px;
    letter-spacing: 0.9px;
    margin: 15px 0;
    margin-bottom: 16px;
  }
}
.vmsw__main-text__text {
  margin: 0;
  font-size: 17px;
  line-height: 27px;
  letter-spacing: 0;
  color: #1B1A17;
  font-weight: 200;
}
@media all and (min-width: 768px) {
  .vmsw__main-text__text {
    font-size: 28px;
    line-height: 48px;
  }
}
@media all and (min-width: 1310px) {
  .vmsw__main-text__text {
    font-size: 38px;
    line-height: 58.6px;
  }
}
.vmsw__diagonal-two-columns {
  display: block;
}
@media all and (min-width: 768px) {
  .vmsw__diagonal-two-columns {
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    align-content: space-between;
  }
}
.vmsw__diagonal-two-columns--yellow {
  background: #debc49;
}
.vmsw__diagonal-two-columns--blue {
  background: #005a80;
}
.vmsw__diagonal-two-columns__content-wrapper {
  padding: 30px 20px;
}
@media all and (min-width: 768px) {
  .vmsw__diagonal-two-columns__content-wrapper {
    flex-basis: 100%;
    width: 100%;
    margin-bottom: 0;
    padding: 50px 0px 30px 65px;
  }
}
.vmsw__diagonal-two-columns__content-wrapper--yellow {
  background: #F0A500;
  background: -moz-linear-gradient(198deg, #F0A500 30%, #475762 30%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(198deg, #F0A500 30%, #475762 30%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(198deg, #F0A500 30%, #475762 30%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$page-yellow, endColorstr=$page-gray-dark, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
@media all and (min-width: 768px) {
  .vmsw__diagonal-two-columns__content-wrapper--yellow {
    background: #debc49;
    background: -moz-linear-gradient(198deg, #475762 30%, #c88f1c 30%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(198deg, #475762 30%, #c88f1c 30%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(198deg, #475762 30%, #c88f1c 30%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$page-gray-dark, endColorstr=$page-yellow-darker, GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
  }
}
.vmsw__diagonal-two-columns__content-wrapper--dark {
  background: #475762;
  background: -moz-linear-gradient(138deg, #475762 42%, #F0A500 42%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(138deg, #475762 42%, #F0A500 42%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(138deg, #475762 42%, #F0A500 42%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$page-yellow, endColorstr=$page-gray-dark, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
@media all and (min-width: 768px) {
  .vmsw__diagonal-two-columns__content-wrapper--dark {
    background: #475762;
    background: -moz-linear-gradient(-45deg, #475762 35%, #F0A500 35%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #475762 35%, #F0A500 35%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(-45deg, #475762 35%, #F0A500 35%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$page-yellow, endColorstr=$page-gray-dark, GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
  }
}
@media all and (min-width: 768px) {
  .vmsw__diagonal-two-columns__content-wrapper--left {
    clip-path: polygon(20% 0, 100% 0, 80% 100%, -10% 100%);
    flex-basis: 68%;
    width: 68%;
  }
}
@media all and (min-width: 768px) {
  .vmsw__diagonal-two-columns__content-wrapper--right {
    clip-path: polygon(15% 0%, 90% 0, 100% 100%, 0% 100%);
    flex-basis: 69%;
    width: 69%;
  }
}
.vmsw__diagonal-two-columns__inner-content {
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
}
@media all and (min-width: 768px) {
  .vmsw__diagonal-two-columns__inner-content {
    padding-right: 90px;
    text-align: left;
  }
}
@media all and (min-width: 1167px) {
  .vmsw__diagonal-two-columns__inner-content {
    height: 100%;
    display: block;
    max-width: 600px;
  }
}
.vmsw__diagonal-two-columns__image {
  border-radius: 50%;
  display: block;
  height: 120px;
  width: 120px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  left: 33%;
}
@media all and (min-width: 768px) {
  .vmsw__diagonal-two-columns__image {
    left: 25%;
  }
}
.vmsw__diagonal-two-columns__headline {
  font-weight: 300;
  font-size: 20px;
  line-height: 1.1;
  letter-spacing: -2px;
  margin: 0;
  margin-bottom: 10px;
  margin-top: 10px;
}
.vmsw__diagonal-two-columns__headline a {
  color: #ffffff;
  text-decoration: none;
}
@media all and (min-width: 768px) {
  .vmsw__diagonal-two-columns__headline {
    font-size: 28px;
  }
}
@media all and (min-width: 1167px) {
  .vmsw__diagonal-two-columns__headline {
    font-size: 35px;
  }
}
@media all and (min-width: 1310px) {
  .vmsw__diagonal-two-columns__headline {
    font-size: 45px;
    letter-spacing: -2px;
  }
}
.vmsw__diagonal-two-columns__text {
  margin: 0;
  font-size: 13px;
  line-height: 21px;
  letter-spacing: -0.15px;
  font-weight: 200;
}
@media all and (min-width: 768px) {
  .vmsw__diagonal-two-columns__text {
    font-size: 16px;
    line-height: 25px;
  }
}
@media all and (min-width: 1024px) {
  .vmsw__diagonal-two-columns__text {
    font-size: 20px;
    line-height: 30px;
  }
}
.vmsw__diagonal-two-columns__text--bold {
  font-weight: 500;
}
.vmsw__diagonal-two-columns__text--large {
  font-size: 16.9px;
  line-height: 23px;
  letter-spacing: -0.3px;
  margin-bottom: 10px;
  color: #1794b4;
  font-weight: 500;
}
@media all and (min-width: 768px) {
  .vmsw__diagonal-two-columns__text--large {
    color: #ffffff;
  }
}
@media all and (min-width: 1024px) {
  .vmsw__diagonal-two-columns__text--large {
    color: #005a80;
    font-size: 28px;
    line-height: 37.6px;
  }
}
.vmsw__footer {
  padding: 20px;
  box-shadow: 0 1px 10px 0px #475762;
}
.vmsw__footer-wrap {
  display: block;
  text-align: center;
}
@media all and (min-width: 480px) {
  .vmsw__footer-wrap {
    display: flex;
    justify-content: space-between;
    align-content: center;
    text-align: left;
  }
}
.vmsw__footer__contact__headline {
  color: #F0A500;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.7px;
}
@media all and (min-width: 768px) {
  .vmsw__footer__contact__headline {
    font-size: 26px;
    line-height: 29.6px;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    letter-spacing: 2.3px;
  }
}
.vmsw__footer__contact__links a {
  color: #005a80;
  font-size: 14px;
  display: block;
  text-decoration: none;
}
.vmsw__footer__contact__links a:hover {
  color: #F0A500;
}
.vmsw__footer__logo__wrapper {
  display: block;
  margin-bottom: 10px;
  text-align: center;
  margin-top: 30px;
}
@media all and (min-width: 480px) {
  .vmsw__footer__logo__wrapper {
    margin-top: 0px;
  }
}
@media all and (min-width: 600px) {
  .vmsw__footer__logo__wrapper {
    text-align: right;
  }
}
.vmsw__footer__logo__img {
  width: 100%;
  max-width: 150px;
}
@media all and (min-width: 600px) {
  .vmsw__footer__logo__img {
    max-width: 200px;
  }
}
.vmsw__footer__logo__headline {
  font-size: 50px;
  line-height: 1;
  color: #000000;
  font-weight: 200;
  margin: 0;
  letter-spacing: -7px;
}
@media all and (min-width: 320px) {
  .vmsw__footer__logo__headline {
    font-size: 60px;
  }
}
@media all and (min-width: 600px) {
  .vmsw__footer__logo__headline {
    font-size: 70px;
  }
}
@media all and (min-width: 1024px) {
  .vmsw__footer__logo__headline {
    font-size: 84px;
  }
}
.vmsw__footer__logo__headline--small {
  display: none;
}
@media all and (min-width: 1024px) {
  .vmsw__footer__logo__headline--small {
    display: inline-block;
    font-size: 30px;
    letter-spacing: -1px;
    padding-left: 5px;
  }
}
.vmsw__footer__copyright {
  font-size: 10px;
  color: #000000;
  letter-spacing: -0.7px;
  /*
        @media all and (min-width: $xlarge-breakpoint) {
          font-size: 16px;
          line-height: 19.6px;
        }

        @media all and (min-width: $xxlarge-breakpoint) {
          font-size: 18px;
          line-height: 21.6px;
        }

   */
}
.vmsw__footer__copyright p {
  margin: 0;
}
@media all and (min-width: 480px) {
  .vmsw__footer__copyright {
    text-align: right;
  }
}
@media all and (min-width: 768px) {
  .vmsw__footer__copyright {
    font-size: 14px;
    line-height: 17.6px;
    letter-spacing: 0.5px;
  }
}

#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
  filter: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="g"><feColorMatrix type="matrix" values="0.3 0.3 0.3 0 0 0.3 0.3 0.3 0 0 0.3 0.3 0.3 0 0 0 0 0 1 0"/></filter></svg>#g');
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: progid:DXImageTransform.Microsoft.BasicImage(grayScale=1);
}

#slider .tns-nav {
  text-align: center;
}
@media all and (min-width: 768px) {
  #slider .tns-nav {
    margin-top: 5px;
  }
}
#slider .tns-nav button {
  border-radius: 50%;
  padding: 4px 4px;
  margin-left: 2px;
  margin-right: 2px;
  background-color: #000000;
  border: none;
}
@media all and (min-width: 768px) {
  #slider .tns-nav button {
    padding: 6px 6px;
    margin-left: 6px;
    margin-right: 6px;
  }
}
#slider .tns-nav button:focus {
  outline: none;
}
#slider .tns-nav button.tns-nav-active {
  background-color: #c88f1c;
}
#slider #tns1-ow > button {
  display: none;
}

.uppercase {
  text-transform: uppercase;
}

.align-center {
  text-align: center;
}

.inline {
  display: inline;
}
@media all and (min-width: 1167px) {
  .inline--desktop {
    display: inline;
  }
}

.text-blue {
  color: #005a80;
}
.text-blue--light {
  color: #056789;
}
.text-blue--lighter {
  color: #1794b4;
}

.text-yellow {
  color: #F0A500;
}
.text-yellow--light {
  color: #debc49;
}
.text-yellow--darker {
  color: #c88f1c;
}

.divider {
  width: 83%;
  height: 1px;
  margin: auto;
  background: #808080;
}

.bold {
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
